@use "colors.scss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  padding: 0;
  margin: 0;
  background: colors.$greyLight;
  font-family: "Montserrat", serif; 
  font-size: 20px;
  font-weight: 600;
}

#root{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1150px;
  

  nav {
    width: 100%;
        
    ul {
      
      padding: 0;
      display: flex;
      list-style: none;
      justify-content: space-between;
      gap: .5rem;

      li {

        a {
          color: colors.$white;
          font-size: 1rem;
          font-weight: 800;
          padding: 1.5rem 4.2rem;
          height: 30px;
          background: colors.$blueDark;
        }

      }
    }
  }

  .navList a:active {
    background: colors.$white;
    color: colors.$blueDark;
  }
  

  #main-section {
    background-color: colors.$white;
    color: colors.$blueDark;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 5rem;
    box-sizing: border-box;
    text-align: left;
    
    ul {
      list-style: none;
      padding: 0;
    }

  }

}